<!--
  Generated template for the CategoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color = "primary">
    <ion-title>{{category}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngIf = "!finished_loading">
    <ion-spinner></ion-spinner>
  </div>

  <ion-row *ngFor = "let article of article_list">
    <ion-col>

    </ion-col>
    <ion-card col-md-8>
      <ion-card-header class = "article-title" text-wrap>

        <ion-grid>

          <div>
            <img *ngIf= "article.logo" class = "article_logo" src = "{{article.logo}}"/>
          </div>

          <br>

          <ion-row>
            <b col-10>{{article.title}}</b>

          </ion-row>
        </ion-grid>

      </ion-card-header>

      <ion-card-content>
        <ion-grid>
          <ion-row>
            <p class = "articlecontent" col-12>{{article.description}}</p>
          </ion-row>
          <ion-row>
            <div col-8>

            </div>
            <a href = "{{article.link}}" ion-button color = "secondary" block>
              read more
            </a>
          </ion-row>
        </ion-grid>
      </ion-card-content>

    </ion-card>
    <ion-col>

    </ion-col>
  </ion-row>


</ion-content>
