<ion-header>
  <ion-navbar color = "primary">
    <ion-title>
      Alkonost
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <button ion-button block color = "dark" (click) = "addRSSFeed()">Add RSS Feed</button>
  <button ion-button block color = "secondary" (click) = "viewCustom()">Manage Custom Feeds</button>

  <ion-list>
    <button mode = "ios" (click) = "categoryClick(category)" class = "category-item" *ngFor = "let category of categories" ion-item>
      {{category}}
    </button>

    <button mode = "ios" (click) = "categoryClick('Custom')" class = "category-item" ion-item>
      Custom
    </button>
  </ion-list>


</ion-content>
