<!--
  Generated template for the CustomPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color = "primary">
    <ion-title>Custom Links</ion-title>

    <ion-buttons end>
      <button (click) = "addCustomFeed()" ion-button icon-only>
        <ion-icon name = "add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <div *ngFor = "let link of custom_links; let i = index">

    <ion-card>
      <ion-card-header>
        <h1>{{link.link}}</h1>
      </ion-card-header>

      <ion-card-content>
        <button (click) = "deleteLink(i)" ion-button color = "danger">Delete</button>
      </ion-card-content>

    </ion-card>

  </div>





</ion-content>
